<nav class='navbar navbar-expand navbar-light bg-light'>
    <ul class='nav nav-pills'>
      <li><a class='nav-link sm' routerLinkActive='active' [routerLink]="['/furniture']">Furniture</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/fashion']">Fashion</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/electronics']">Electronics</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/stationery']">Stationery</a></li>
      <nav-login-setup></nav-login-setup>
    </ul>

</nav>